<section class="container-fluid">
  <h2>My Posts:</h2>
{{#each blogposts}}
<div class="container">
{{> dashboard-details}}
</div>
{{/each}}
</section>
</div>
<button onclick="window.location.href='/newblogpost';">New Post</button>
</div>