<section class="container-fluid">
  <p>My Dashboard</p>
{{#each blogposts}}
<div class="container">
{{> dashboard-details}}
</div>
{{/each}}
</section>
</div>
<button onclick="window.location.href='/newblogpost';">Add New Post</button>
</div>