<section class="new-blogpost">
    <div class="new-post-card">
        <form id="add-blogpost">
            <h4>Create New Post</h4>
            <div class="form-group">
                <div class="new-title">
                    <label>Title: </label>
                </div>
                <input style="width: 300px" type="text" id="blogpost-title"/>
                <div class="new-description">
                    <label>Content: </label>
                </div>
                <textarea id="blogpost-description"></textarea>
            </div>
            <div class="submit-blogpost">
                <button class="btn btn-primary" type="submit">Post</button>
            </div>
        </form>
    </div>
    
</section>

<script src="./js/newPost.js"></script>